.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
test/e2e/runner.js
test/e2e/nightwatch.conf.js
test/e2e/custom-assertions/elementCount.js
static/.gitkeep
server/public/static/js/vendor.9e23f8d1685ccd2ef6c3.js.map
server/public/static/js/vendor.9e23f8d1685ccd2ef6c3.js
server/public/static/js/vendor.7fed9fa7b7ba482410b7.js.map
server/public/static/js/vendor.7fed9fa7b7ba482410b7.js
server/public/static/js/vendor.446c9629ccea75f556de.js.map
server/public/static/js/vendor.446c9629ccea75f556de.js
server/public/static/js/manifest.2ae2e69a05c33dfc65f8.js.map
server/public/static/js/manifest.2ae2e69a05c33dfc65f8.js
server/public/static/js/app.f16ac5c624284d30f5af.js.map
server/public/static/js/app.f16ac5c624284d30f5af.js
server/public/static/js/app.c47bd7bfee4b1d198625.js.map
server/public/static/js/app.c47bd7bfee4b1d198625.js
server/public/static/js/app.7cb5956f2e4ef5f8cbfe.js.map
server/public/static/js/app.7cb5956f2e4ef5f8cbfe.js
server/public/static/js/app.14bfd4257e1b46c2bca7.js.map
server/public/static/js/app.14bfd4257e1b46c2bca7.js
server/public/static/js/app.0ca550d7a3532e88b6d5.js.map
server/public/static/js/app.0ca550d7a3532e88b6d5.js
server/.ftpconfig
package-lock.json
bash.exe.stackdump
test/unit/specs/HelloWorld.spec.js
test/unit/setup.js
test/unit/jest.conf.js
test/unit/.eslintrc
test/e2e/specs/test.js
server/public/static/fonts/MaterialIcons-Regular.e79bfd8.eot
server/public/static/fonts/MaterialIcons-Regular.a37b0c0.ttf
server/public/static/fonts/MaterialIcons-Regular.570eb83.woff2
server/public/static/fonts/MaterialIcons-Regular.012cf6a.woff
server/public/static/css/app.cca059254702f9ed953b7df749673cf4.css.map
server/public/static/css/app.cca059254702f9ed953b7df749673cf4.css
server/public/static/css/app.a8933df1a41574d93042f71600874bb0.css.map
server/public/static/css/app.a8933df1a41574d93042f71600874bb0.css
server/public/static/css/app.9cfc911d51b8ca55f35951fc5de1885a.css.map
server/public/static/css/app.9cfc911d51b8ca55f35951fc5de1885a.css
server/public/static/css/app.68b329da9893e34099c7d8ad5cb9c940.css.map
server/public/static/css/app.68b329da9893e34099c7d8ad5cb9c940.css
server/public/index.html
server/data/data.csv
